html, body {
    overflow: hidden;
    height: 100%;
}
body {
    position: fixed;
    width: 100%;
}

.channelImage {
    width: 100%;
    height: 100%;

    z-index: -2;
}


.channelDescription {
    position: absolute;
    bottom: 1%;    
    left: 50%;
    transform: translate(-50%, -0%);
    width: 90%;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 5;

    background-color: rgba(255, 208, 0, 0);
}

.bottomUI {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}