html, body {
  height: 100%;
  overflow: hidden;
}
/*Barre de background*/
body {
    cursor: url("../Texture/Cursor/cursorsmall.png"), auto;

   
} 


/* Curseur personnalisé */
a, button {
  cursor: url("../Texture/Cursor/cursorsmallgrabclose.png") 8 8, pointer;
}
a:hover, button:hover {
  cursor: url("../Texture/Cursor/cursorsmallgrab.png") 8 8, pointer;
}




/* Style pour les boutons de chaîne conteneur*/
.container-channel {
  margin-top: 15px;
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: stretch; 
 size: 80%;
}





/* Style pour les boutons de chaîne */
.channel-button:hover {
    cursor: url("../Texture/Cursor/cursorsmallgrab.png") 8 8, pointer;

  filter: brightness(1.1);
  transition: filter 0.3s;
}

.channel-button {
 border: 3px solid #BBBBBB;
  border-radius: 64px;
  position: relative;
  overflow: hidden;          
  aspect-ratio: 1.5 / 0.8;
  width: clamp(150px, 20vw, 500px);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
   background-size:cover
}


/* Effet de scanlines */

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10;

  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.06) 0px,
    rgba(0, 0, 0, 0.06) 2px,
    rgba(255, 255, 255, 0.02) 4px,
    rgba(255, 255, 255, 0.02) 8px
  );

  opacity: 0.60;
}


.splide__slide img {
  width: 100%;
  height: auto;

}


/* Container invisible qui contient les boutons de chaîne de depart avant tri*/ 

.invisible-container{
  display: none;
}


/* Styles pour l'écran de chaîne */
.channel-screen {
  
    position: fixed;
    inset: 0;
    background: rgb(255, 255, 255);
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 2;
}

.channel-screen.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}


.channel-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
     position: relative;

  overflow: hidden;
  background-color: rgb(0, 0, 0);

}

#channel-frame {
    flex: 1;
    border: none;
    outline: none;
    


}

.channel-buttons {
    height: 20% ;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);

}
/*COntour ecran mais normalement ca sert plus a rien*/
.border-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: url("../Texture/ChannelViewer/test.svg") no-repeat center;
    background-size: 100% 100%;
      pointer-events: none; 
  }

  .channel-frame {
      overflow: hidden;

}

.wii-btn {
  position: relative;
  padding: 1vh 1vw;

  cursor: pointer;
  overflow: hidden;
  background-color: transparent;

 border: transparent;
  
}
/* Boutons de retour menu dans la chaine */
.retourmenu{
    background-image: url("../Texture/FrontMenu/retourmenu.webp");
    width: 100%;
    height: 100%; 
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30%;
}
/* Bouton github dans la chaine */
.githubbutton{
    background-image: url("../Texture/FrontMenu/github.webp");
    width: 100%;
    height: 100%; 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30%;
}

.overlay {
  position: absolute;
  inset: 0;
  border-radius: 50px;
  box-shadow: inset 0px 0px 60px 50px rgb(0, 0, 0),0 0 0 9999px rgba(0, 0, 0, 1);
  pointer-events: none; 
  z-index: 1000;

}
.overlay2{
    position: absolute;
  inset: 0;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.9);
    pointer-events: none; 

    z-index: 2000;

}


@font-face {
  font-family: "DS-DIGI";
  src: url("../Font/DS-DIGI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.volume-control {
    position: fixed;
    left: 15vw;
    bottom: 5vh;
    width: 10vw;
    height: 10vh;
    z-index: 100;
}




.viewport {
  width: 100vw;
  height: calc(100vh - 80px); 
  overflow: hidden;
  position: relative;
}
        
.pages {
  display: flex;
  width: 200vw;
  height: 100%;
  transition: transform 0.6s ease;
}


.page {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}


.footer {


    background-image: url("../Texture/FrontMenu/barre wii.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
    height: 50vh;

    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;



}
    
.center {
  position: fixed;
  left: 50%;
  bottom: 0; 
  transform: translateX(-50%);
  text-align: center;
}


 .time {
  font-size: 18px;
  font-weight: bold;
}


.WiiBtn {

  width: clamp(50px, 10vw, 1000px);
  aspect-ratio: 1 / 1;
  align-self: flex-end;
 margin-bottom: 5px;
  border-radius: 50%;
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border: transparent;
  background-color: transparent;
  cursor: pointer;
  z-index: 999999;
}

.WiiBtn:active {
  transform: scale(0.95);
}

.WiiBtn:not(:active) {
  animation: bounce 0.4s ease;
}

/* Keyframes */
@keyframes bounce {
  0% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
/* Boutons de contact et github menu principal */
.GithubBtn {
    margin-right: 3%;

    background-image: url("../Texture/FrontMenu/githubround.webp");
    z-index: 20;

}

.ContactBtn {
    margin-left: 3%;

    background-image: url("../Texture/FrontMenu/ContactRound.webp");
     z-index: 20;

}

/* Style pour l'heure et la date dans le menu principal */
.time {
     margin-bottom: 1%;

  font-size: 6vw;
  color: #9b9b9b;
  font-family: "DS-DIGI", sans-serif;
}


.date {
  
   margin-bottom: 1vw;
  font-size: 6vw;
  color: #7B7B7D;
  font-family: "DS-DIGI", sans-serif;
}


.channel-button::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.10) 0px,
    rgba(0, 0, 0, 0.10) 1px,
    rgba(255, 255, 255, 0.03) 2px,
    rgba(255, 255, 255, 0.03) 4px
  );

  mix-blend-mode: overlay;
  opacity: 0.4;
}


/*bouton note de musique dans la chaine*/
.musicBtn{
  margin-right: 60%;
  align-self: flex-end;
 margin-bottom: 15px;
  width: clamp(20px, 5vw, 1000px);
  aspect-ratio: 1 / 1;
  background-image: url("../Texture/FrontMenu/volume_off_100dp_79797B_FILL0_wght400_GRAD0_opsz48.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}


